body {
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
}

ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}

.container {
  height: 100%;
  margin: 0 auto;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}


hr {
  width: 75%;
  border-top: 1px dotted #bbb;
}


.homepage-top {
  background-color: #5B5EA6;
  min-height: 700px;
  background-size: cover;
  border-top: 6px solid white;
}

.profile {
  position: relative;
  margin-top: 150px;
  margin-left: 100px;
  display: inline-block;
}
.alan {
  background-image: url('images/alan2.png');
  width: 210px;
  background-size: cover;
  border-radius: 100%;
  height: 210px;
  border: 3px solid white;
  background-repeat: no-repeat;
}

.social {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 260px;
  height: 260px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

nav.find-me > *:nth-of-type(1) {
  -webkit-transform: rotate(63deg) translate(135px) rotate(-63deg);
  -moz-transform: rotate(63deg) translate(135px) rotate(-63deg);
  -ms-transform: rotate(63deg) translate(135px) rotate(-63deg);
  -o-transform: rotate(63deg) translate(135px) rotate(-63deg);
  transform: rotate(63deg) translate(135px) rotate(-63deg);
}
nav.find-me > *:nth-of-type(2) {
  webkit-transform: rotate(85deg) translate(130px) rotate(-85deg);
  -moz-transform: rotate(85deg) translate(130px) rotate(-85deg);
  -ms-transform: rotate(85deg) translate(130px) rotate(-85deg);
  -o-transform: rotate(85deg) translate(130px) rotate(-85deg);
  transform: rotate(85deg) translate(130px) rotate(-85deg);
}
nav.find-me>*:nth-of-type(3) {
  -webkit-transform: rotate(108deg) translate(130px) rotate(-108deg);
  -moz-transform: rotate(108deg) translate(130px) rotate(-108deg);
  -ms-transform: rotate(108deg) translate(130px) rotate(-108deg);
  -o-transform: rotate(108deg) translate(130px) rotate(-108deg);
  transform: rotate(108deg) translate(130px) rotate(-108deg);
}
nav.find-me>* {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -19px;
  color: white;
}

nav > a > .fa {
  font-size: 20px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 50%;
}

.about-me {
  margin-top: 10%;
}

.about-me-header {
  font-size: 40px;
  font-family: changa-one, sans-serif;
  text-align: right;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
}

.about-me-content {
  margin-top: 1%;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 26px;
  font-family: arimo, sans-serif;
  color: white;
}

#down-arrow {
  text-align: center;
  color: #5B5EA6;
}

#down-arrow:after {
  font-size: 30px;
  content: '↓';
  position: absolute;
}

.my-work {
  margin-top: 15%;
}
.my-work-header {
  text-align: center;
  text-transform: lowercase;
  font-size: 80px;
  font-family: 'changa-one', sans-serif;
  color: #5B5EA6;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.no-gylt-img, .honeybee-img {
  padding: 0px;
}

.nogylt-logo, .honeybee-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

.honeybee {
  margin-top: 10%;
  float: left;
}
.homepage-second {
  min-height: 800px;
}

.homepage-second-about {
  margin-top: 30px;
}

.homepage-second-about-header {
  font-size: 40px;
  font-family: wire-one, sans-serif;
  text-align: left;
  color: #7F7773;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px;
}

.homepage-second-about-content{
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 26px;
  font-family: arimo, sans-serif;
  color: #737D7C;
}

.what-i-built {
  margin-top: 30px;
}

.what-i-built-content {
  font-size: 40px;
  margin-top: 50px;
  font-family: arimo, sans-serif;
  color: #4cbbd3;
  line-height: 60px;
  z-index: 100;
}

.what-i-built-link:hover {
  color: #428bca;
  border-bottom: 4px solid #428bca;
}

.my-apps {
  min-height: 1900px;
  margin-bottom: 50px;
}

.logo {
  background-color: white;
}

.built-with {
  font-size: 20px;
  font-family: arimo, sans-serif;
  text-align: center;
}

.bars {
  color: red;
  padding: 0px 20px;
}

.my-apps-content-lead {
  -webkit-font-smoothing: antialiased;
  font-family: arimo, sans-serif;
  line-height: 28px;
  font-weight: 300;
  color: #181818;
  font-weight: 600;
  margin-top: 50px;
  font-size: 18px;
}

.my-apps-content {
  -webkit-font-smoothing: antialiased;
  font-family: arimo, sans-serif;
  line-height: 28px;
  font-weight: 300;
  color: #181818;
  font-size: 18px;
}

footer {
  min-height: 70px;
}

.fa {
  font-size: 30px;
  text-align: center;
}

@media screen and (min-width: 1510px) {
  .name {
    margin-left: 220px;
  }
}

@media screen and (max-width: 1216px) {
  .homepage-top {
    height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .name {
    display: none;
  }
}

@media screen and (max-width: 995px) {
  .about-me-content {
    max-width: 100%;
    margin-left: 250px;
  }

  .img  {
    max-width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .homepage-top {
    height: 500px;
  }
}

@media screen and (max-width: 800px) {
  .about-me {
    margin-top: 50px;
  }
  .homepage-top {
    height: 450px;
  }
}

@media screen and (max-width: 680px) {
  .about-me-content {
    margin-left: 200px;
  }
}

@media screen and (max-width: 580px) {
  .about-me-content {
    margin-top: 380px;
    max-width: 100%;
    margin-left: 10px;
  }

  .homepage-second-about {
    margin-top: 450px;
  }
}

/*@media screen and (max-width: 500px) {
  .about-me-content {
    max-width: 300px;
  }
}*/

#mosaic {
  margin-top:-180px;
}

.mosaic-list {
  position: relative;
  height: 600px;
  padding: 0px;
}

.tile {
  float: left;
  /*width: 285px;*/
  overflow: hidden;
  list-style: none;
  position: absolute;
  visibility: hidden;
  padding: 0px;
}

.tile:hover {
  background-color: #5B5EA6;
}

.content {
  height: 360px;
  background-color: white;
}

.content > a {
  display: block;
  height: 100%;
  padding: 40px 40px;
  font-size: 38px;
  line-height: 42px;
  font-weight: 800;
  text-align: left;
  color: #5B5EA6;
  letter-spacing: -2px;
  font-family: "HUGEAvantGardeBold",sans-serif;
}

.content > a:hover {
  color: white;
}

.image {
  height: 240px;
  background-color: white;
}

.travel-pic {
  width: 100%;
  height: 100%;
}

#tile1 {
  left: 0px;
  top: 0px;
}

#tile2 {
  left: 285px;
  top: 0px;
}

#tile3 {
  left: 570px;
  top: 0px;
}

#tile4 {
  left:855px;
  top:0px;
}

#tile5 {
  left: 0px;
  top: 360px;
}

#tile6 {
  left: 285px;
  top: 240px;
}

#tile7 {
  left: 570px;
  top: 360px;
}

#tile8 {
  left:855px;
  top: 240px;
}

/** Slide Up tiles **/

.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;  

  animation-duration: 1s; 
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;

  visibility: visible !important;     
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }     
  100% {
    transform: translateY(0%);
  } 
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }     
  100% {
    -webkit-transform: translateY(0%);
  } 
}



.under-construction {
  color: white;
  text-align: center;
}
