.container {
  height: 100%;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}


hr {
  width: 75%;
  border-top: 1px dotted #bbb;
}


.homepage-top {
  background-image: url('images/alan-background.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-top: 6px solid #7F7773;
}

.name {
  color: #7F7773;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: fixed;
  padding-left: 6%;
  margin-top: 300px;
  opacity: .7;
}

.first-name {
  font-family: changa-one, sans-serif;
  font-size: 70px;
}

.last-name {
  font-family: wire-one, sans-serif;
  font-size: 86px;
}

.about-me {
min-height: 350px;
margin-top: 150px;
}

.about-me-header {
  font-size: 40px;
  font-family: wire-one, sans-serif;
  text-align: right;
  color: #7F7773;
  font-weight: 600;
  letter-spacing: 1px;
}

.about-me-content {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 26px;
  font-family: arimo, sans-serif;
  color: #737D7C;
}

.homepage-second {
  min-height: 800px;
}

.homepage-second-about {
  margin-top: 30px;
}

.homepage-second-about-header {
  font-size: 40px;
  font-family: wire-one, sans-serif;
  text-align: left;
  color: #7F7773;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px;
}

.homepage-second-about-content{
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 26px;
  font-family: arimo, sans-serif;
  color: #737D7C;
}

.what-i-built {
  margin-top: 30px;
}

.what-i-built-content {
  font-size: 40px;
  margin-top: 50px;
  font-family: arimo, sans-serif;
  color: #4cbbd3;
  line-height: 60px;
}

.what-i-built-link:hover {
  color: #428bca;
  border-bottom: 4px solid #428bca;
}

.my-apps {
  min-height: 1900px;
  margin-bottom: 50px;
}

.nogylt-logo {
  margin-top: 5%;
}

.nogylt-img {
  margin-top: 3%;
  margin-bottom: 20px;
}

.built-with {
  font-size: 20px;
  font-family: arimo, sans-serif;
  text-align: center;
}

.bars {
  color: red;
  padding: 0px 20px;
}

.my-apps-content-lead {
  -webkit-font-smoothing: antialiased;
  font-family: "proxima-nova", sans-serif;
  line-height: 28px;
  font-weight: 300;
  color: #181818;
  font-weight: 600;
  margin-top: 50px;
  font-size: 18px;
}

.my-apps-content {
  -webkit-font-smoothing: antialiased;
  font-family: "proxima-nova", sans-serif;
  line-height: 28px;
  font-weight: 300;
  color: #181818;
  font-size: 18px;
}

.honeybee-logo {
  text-align: center;
  margin-top: 10%;
  font-size: 40px;
}

footer {
  min-height: 70px;
}

.fa {
  font-size: 30px;
  text-align: center;
}


@media screen and (max-width: 1216px) {
  .homepage-top {
    height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .name {
    display: none;
  }
}

@media screen and (max-width: 995px) {
  .about-me-content {
    width: 400px;
    margin-left: 250px;
  }
}

@media screen and (max-width: 940px) {
  .homepage-top {
    height: 500px;
  }
}

@media screen and (max-width: 800px) {
  .about-me {
    margin-top: 50px;
  }
  .homepage-top {
    height: 450px;
  }
}

